<div class="container mt-5 text-center">
  <div *ngIf="!registerMode" style="text-align: center;">
    <h1>Find your match</h1>
    <p class="lead">
      Come on in to view your Match .. All you need to is Just Sign On
    </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()"> Register </button>
      <button class="btn btn-primary btn-lg "> Learn More </button>
    </div>
  </div>

    <div *ngIf="registerMode" style="text-align: center;">
      <div class="row justify-content-center">
        <div class="col-4">
           <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
 
</div>
